<!DOCTYPE HTML>
<html>
<head>
<title>MetaNAS Logout</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

<link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" media="all" />
<link rel="icon" type="image/png" href="/static/images/ui/login/favicon.png" />

</head>

<body>

<div class="logout">

<p class="thanks">Thanks For Using MetaNAS. [ <a href="/account/login/">Login Again</a> ]</p>

</div>

<div class="o-footer"><p class="copyright">Copyright 2012 MetaComplex Corporation All Right Reserved.</p></div>
</body>
</html>
