<div dojoType="dijit.MenuBar">
    <div id="messages"></div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openWizard();" class="menu_icon{% if focused_tab == "wizard" %} dijitMenuItemSelected{% endif %}">
        <img src="{{ STATIC_URL }}images/ui/menu/wizard.png">
        <br />
        <span>{% trans "Wizard" %}</span>
    </div>
      
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openSystem();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/system.png">
	<br />
        <span>{% trans "System" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openNetwork();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/network.png">
	<br />
        <span>{% trans "Network" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openStorage();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/storage.png">
	<br />
        <span>{% trans "Storage" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openSharing();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/sharing.png">
	<br />
        <span>{% trans "Sharing" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openServices();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/services.png">
	<br />
        <span>{% trans "Services" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openBackup();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/backup.png">
	<br />
        <span>{% trans "Backup" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openAccount();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/account.png">
	<br />
        <span>{% trans "Account" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="Menu.openUpgrade();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/upgrade.png">
	<br />
        <span>{% trans "Upgrade" %}</span>
    </div>
    <div dojoType="dijit.MenuBarItem" onClick="dijit.byId('helpDialog').show();" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/help.png">
	<br />
        <span>{% trans "Help" %}</span>
    </div>
    
    <div dojoType="dijit.MenuBarItem" onClick="dijit.byId('aboutDialog').show();" class="menu_icon{% if focused_tab == "about" %} dijitMenuItemSelected{% endif %}">
	<img src="{{ STATIC_URL }}images/ui/menu/about.png">
	<br />
        <span>{% trans "About" %}</span>
    </div>
      
<!--    <div dojoType="dijit.MenuBarItem" class="menu_icon" onClick="alert_open();">
    <div dojoType="dijit.layout.ContentPane" id="alert_status" class="alert_ok"></div>
        <span>Alert</span>
    </div>-->
    
    <div dojoType="dijit.MenuBarItem" onClick="window.location='/account/logout/'" class="menu_icon">
	<img src="{{ STATIC_URL }}images/ui/menu/logout.png">
	<br />
        <span>{% trans "Log Out" %}</span>
    </div>
    

</div>
